.card-container {
   display: flex;
   flex-direction: column;
   background-color: #95dada;
   border-radius: 5px;
   padding: 25px;
   cursor: pointer;
   /* backface-visibility: hidden; */
   transform: translateZ(0);
   transition: transform 0.25s ease-out;
   font-size: 15pt;
}

.card-container:hover {
   transform: scale(1.05);
}

.card-container h3, .card-container p {
   margin: 10px 0 0 0;
}